@font-face {
    font-family: "Trebuchet";
    src: url(fonts/trebuchet-ms-bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Trebuchet;

    order: 2;
}

body{
    margin: 10px auto;
    width: 95%;
    min-width: 740px;
    max-width: 1180px;
    font-size: 20px;
    background: url(../img/bg.png);
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

header{
    padding: 20px;
    position: relative;
    background: url(../img/topo-imagem-principal.png) top left;
    /*background-attachment: fixed;*/
    background-size: auto 310px;
    height: 300px;
    order: 1;
}

#logoTop{
    position: relative;
    left: 12px;
}

header nav{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(../img/topo-imagem-lateral.png) no-repeat top left;
    background-size: cover;
}

header nav ul{
    display: inline-block;
    position: absolute;
    left: 110px;
    top: 70px;
    
}

header nav ul a{
    font-size: 18px;
    display: block;
    padding: 10px;
    color: #66603a;
}

header nav ul a:hover{
    color: #999165;
}

header nav img{
    display: inline-block;
    position: absolute;
    top: 70px;
    right: 15px;
    height: 180px;
}

.reserva{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 0;
    align-items: center;
    /*border: solid 1px red;*/
    width: 380px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;

    border-top: solid 1px #999165;
    border-bottom: solid 1px #999165;
}

.reserva p{
    color: #999165;
    margin-left: 2px;
}

.reserva a{
    background-color: #999165;
    border-radius: 1px;
    padding: 6px 10px;
    color: #dfd393;
    text-transform: uppercase;
    margin-right: 2px;
}

.reserva a:hover{
    color: #999165;
    background-color: #eae0a8;
}

footer{
    color: #66603a;
    text-align: center;
    margin-top: 25px;
    background-color: #fffcdd;
    padding: 20px;
}

footer h2{
    font-size: 22px;
}

footer p{
    font-size: 15px;
}

/*----------------------------------Topo e Rodapé----------------------------------*/

.conteudo{
    background-color: #fffcdd;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.descricao{
    padding: 20px;
}

.descricao h1{
    color: #837d51;
    font-size: 22px;
}

.descricao p{
    font-size: 15px;
    margin-top: 10px;
}

.apresentacao{
    background-color: #f0ecc5;
}

.apresentacao>ul>li>a{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px 0;
    border-top: solid 1px white;
    grid-column-gap: 15px;
    align-items: center;
}

.primeiro{
    border: none;
}

.apresentacao>ul>li>a>img{
    grid-column: 1/2;
    display: inline-block;
    width: 100%;
}

.apresentacao>ul>li>a>h2, .apresentacao>ul>li>a>p{
    grid-column: 2/3;
}

.apresentacao a h2{
    color: #66603a;
    font-size: 1.2em;
    font-weight: bold;
}

.apresentacao a h2:hover{
    color: #ffffff;
}

.apresentacao a p{
    color: #000;
    font-size: 0.8em;
}

.apresentacao>ul>li{
    width: 90%;
    margin: auto;
    /*border: solid 1px red;**/
}