@font-face {
    font-family: "Trebuchet";
    src: url(fonts/trebuchet-ms-bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Trebuchet;
}

body{
    margin: 10px auto;
    width: 95%;
    min-width: 740px;
    max-width: 1180px;
    font-size: 20px;
    background: url(../img/bg.png);
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

header{
    padding: 20px;
    position: relative;
    background: url(../img/topo-imagem-principal.png) top left;
    /*background-attachment: fixed;*/
    background-size: auto 310px;
    height: 300px;
}

#logoTop{
    position: relative;
    left: 12px;
}

header nav{
    width: 500px;
    height: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url(../img/topo-imagem-lateral.png) no-repeat top left;
    background-size: cover;
}

header nav ul{
    display: inline-block;
    position: absolute;
    left: 110px;
    top: 70px;
    
}

header nav ul a{
    font-size: 18px;
    display: block;
    padding: 10px;
    color: #66603a;
}

header nav ul a:hover{
    color: #999165;
}

header nav img{
    display: inline-block;
    position: absolute;
    top: 70px;
    right: 15px;
    height: 180px;
}

.reserva{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 0;
    align-items: center;
    /*border: solid 1px red;*/
    width: 380px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;

    border-top: solid 1px #999165;
    border-bottom: solid 1px #999165;
}

.reserva p{
    color: #999165;
    margin-left: 2px;
}

.reserva a{
    background-color: #999165;
    border-radius: 1px;
    padding: 6px 10px;
    color: #dfd393;
    text-transform: uppercase;
    margin-right: 2px;
}

.reserva a:hover{
    color: #999165;
    background-color: #eae0a8;
}


/*----------------------------------Topo----------------------------------*/